<ion-header>

</ion-header>
<br>
<ion-content padding>
  <h2 style="font-size:26px"><strong>Anything else to consider?</strong></h2>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-avatar class="icon-avatar">
          <img src="../../assets/icon/favicon.png">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <ion-avatar class="icon-avatar">
          <img src="../../assets/icon/favicon.png">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <ion-avatar class="icon-avatar">
          <img src="../../assets/icon/favicon.png">
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <ion-avatar class="icon-avatar">
          <img src="../../assets/icon/favicon.png">
        </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-avatar class="icon-avatar">
          <img src="../../assets/icon/favicon.png">
        </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-avatar class="icon-avatar">
          <img src="../../assets/icon/favicon.png">
        </ion-avatar>
        </ion-col>
      </ion-row>
  </ion-grid>
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title style="font-size:20px">Anything else to consider?</ion-card-title>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
    </ion-card> -->
  <ion-button color="primary" expand="full" [routerLink]="['/recommend-trip']">
    Plan My Trip
  </ion-button>
</ion-content>
