<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Home</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/plan-trip']" color="success" size="large" expand="block">
				  Plan Your Trip
				</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="presentPreTrip()" color="secondary" size="large" expand="block">
          Saved Trips
        </ion-button>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-card [routerLink]="['/plan-trip']">
          <h3 class="location text-dark"><strong>Plan</strong></h3>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <h3 class="location text-dark"><strong>D</strong></h3>
        </ion-card>
      </ion-col>
    </ion-row> -->
  </ion-grid>

  <ion-button style="position:absolute; bottom:10px;width:95%" color="clear" expand="block" (click)="presentPreTrip()">
  </ion-button>
</ion-content>
