<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <!-- <ion-icon name="restaurant" ></ion-icon> -->
          <h3 class="location text-dark"><strong>A</strong></h3>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <!-- <ion-icon name="restaurant" ></ion-icon> -->
          <h3 class="location text-dark"><strong>B</strong></h3>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card [routerLink]="['/plan-trip']">
          <!-- <ion-icon name="restaurant" ></ion-icon> -->
          <h3 class="location text-dark"><strong>Plan</strong></h3>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <!-- <ion-icon name="restaurant" ></ion-icon> -->
          <h3 class="location text-dark"><strong>D</strong></h3>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button color="primary" expand="block" (click)="presentPreTrip()">
    Plan This Trip
  </ion-button>
</ion-content>
